In [1]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd

In [2]:
alien_df = pd.read_csv('../project-1-alien-analysis/alien_region.csv') 
alien_df

/Users/mecross/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year,region
0,0,10/10/1993 22:00,peoria,il,us,light,8,8 seconds,Light over Peoria&#44 IL that moves slowly&#44...,10/11/2005,40.693611,-89.588889,10,10,22:00,1993,Midwest
1,1,10/10/1998 13:15,elgin,il,us,cylinder,1800,30 +/- min,While looking up at sky I noticed a bright lig...,11/1/1998,42.037222,-88.281111,10,10,13:15,1998,Midwest
2,2,10/10/2004 15:00,rock island,il,us,sphere,3600,1 hour,The sky was clear and the objects at times ap...,10/27/2004,41.509444,-90.578611,10,10,15:00,2004,Midwest
3,3,10/10/2010 20:45,sterling,il,us,cylinder,600,10min,It had rows of white lights with red lights pu...,11/21/2010,41.788611,-89.696111,10,10,20:45,2010,Midwest
4,4,10/10/2012 20:30,marion,il,us,light,240,2 to 4 minutes,I was leaving my friend&#39s house to go home....,10/30/2012,37.730556,-88.933056,10,10,20:30,2012,Midwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60316,60316,6/15/2011 20:19,georgetown,dc,us,disk,6,6 seconds,metallic disk hovering silent in crowded airsp...,6/20/2011,38.904722,-77.062778,6,15,20:19,2011,South
60317,60317,7/25/2012 21:30,washington,dc,us,changing,900,10-15 minutes,3 objects in 15 minutes&#44 2 balls of light m...,8/19/2012,38.895000,-77.036667,7,25,21:30,2012,South
60318,60318,7/4/2012 21:06,washington,dc,us,sphere,5.5,5.5 seconds,Luminous spheres in flight&#44 then suddenly v...,8/5/2012,38.895000,-77.036667,7,4,21:06,2012,South
60319,60319,8/28/2010 22:06,washington,dc,us,fireball,120,2 minutes,Red flaming object flying low over Washington ...,8/30/2010,38.895000,-77.036667,8,28,22:06,2010,South
60320,60320,8/9/2012 03:00,washington,dc,us,light,600,10 minutes,6 glowing objects fly near roof. (reoccuring),8/19/2012,38.895000,-77.036667,8,9,03:00,2012,South

In [21]:
#Clean datetime column data 

date_time = pd.to_datetime(alien_df[['Year', 'Month', 'Day']])

alien_df['Datetime_clean'] = date_time

alien_df.head()

ValueError: Unable to parse string "Sunday" at position 0

In [30]:
#Make index column for datetime to date 

alien_df['week_day_index'] = alien_df['Datetime_clean'].dt.dayofweek

alien_df.head()
    
#Assign week_day_index to day of the week 

week_day = {
    0 : 'Monday',
    1 : 'Tuesday',
    2 : 'Wednesday',
    3 : 'Thursday',
    4 : 'Friday',
    5 : 'Saturday',
    6 : 'Sunday',
    }

alien_df['week_day_name'] = ''
for index, row in alien_df.iterrows():
    week_indx = row['week_day_index']
    alien_df.loc[index, 'week_day_name'] = week_day[week_indx]

alien_df.head()
#alien_df['week_day_index'].dtypes

,Unnamed: 0,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Month,Day,Time,Year,region,Datetime_clean,week_day_index,week_day
0,0,10/10/1993 22:00,peoria,il,us,light,8,8 seconds,Light over Peoria&#44 IL that moves slowly&#44...,10/11/2005,40.693611,-89.588889,10,Sunday,22:00,1993,Midwest,1993-10-10,6,Sunday
1,1,10/10/1998 13:15,elgin,il,us,cylinder,1800,30 +/- min,While looking up at sky I noticed a bright lig...,11/1/1998,42.037222,-88.281111,10,Saturday,13:15,1998,Midwest,1998-10-10,5,Saturday
2,2,10/10/2004 15:00,rock island,il,us,sphere,3600,1 hour,The sky was clear and the objects at times ap...,10/27/2004,41.509444,-90.578611,10,Sunday,15:00,2004,Midwest,2004-10-10,6,Sunday
3,3,10/10/2010 20:45,sterling,il,us,cylinder,600,10min,It had rows of white lights with red lights pu...,11/21/2010,41.788611,-89.696111,10,Sunday,20:45,2010,Midwest,2010-10-10,6,Sunday
4,4,10/10/2012 20:30,marion,il,us,light,240,2 to 4 minutes,I was leaving my friend&#39s house to go home....,10/30/2012,37.730556,-88.933056,10,Wednesday,20:30,2012,Midwest,2012-10-10,2,Wednesday